  body{

background: #ffffff;

font-family:"Roboto",sans-serif;

color: #434455;

  }

.logo{
font-family: "Raleway" sans-serif;
font-weight: 700 ;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase ;
color: #4d5ae5;

}
 
.logo-studio{
color: #2e2f42 ;
}

.header-nav-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5 ;
letter-spacing: 0.02em;
color:  #2e2f42;
}

.header-nav-menu-link:hover,
.header-nav-menu-link:focus{
color: #404bbf;
}

.header-address{
 font-style: normal;
 }

.header-address-item{
 font-size: 16px;
  line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455 ;
   }


























.footer{

background-color: #2e2f42;
}


.footer-text{
line-height: 1.5;
color:  #F4F4FD;
letter-spacing: 0.02em;
background-color: #2e2f42;

}